.BCK{
    background-image: url("img/bck.jpg");
    background-size: cover;
}
#container {
    width: 100%;
    height: 97vh;
    display: flex;
  }

  .canvas-container {
    width: 80%;
  }

  canvas {
    background: #66CCCC;
  }

  .toolbox {
    margin: 8px;
    display: flex;
    flex-flow: column wrap;
  }

  .news-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(10px);
  }

  footer {
    background-color: rgba(255, 255, 255, 0); /* Adjust the opacity as needed */
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: calc(100% - 200px); /* Adjust the width and margin to leave space on the sides */
    margin: 0 auto; /* Center the footer */
    backdrop-filter: blur(10px); /* Apply the blur effect */
  }

  .footer-container {
    margin-left: 100px; /* Adjust the left margin */
    margin-right: 20px; /* Adjust the right margin */
    color:aliceblue
  }

span{
    color:aliceblue;
}
.white_text{
    color: aliceblue;
}